<html>
    <head>
            <title><%= title %></title> 
    </head>
    <body>
            <ul>
                <% project.forEach(function (list){ %>
                        <li><%= list %></li>
                <% }) %>
            hshshxx
            </ul>
    </body>
</html>